.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-top: 10px;

  font-size: 18px;
  background-color: #aaafff;

  .github {
    img {
      width: 30px;
    }

  }
}