.form__layout {
  margin: 10px 0 10px 0;
  text-align: center;

  .input__area {
    width: 550px;
    margin: 5px 0;
  }

  .error__form__validation {
    color: rebeccapurple;
  }

  .send__btn {
    margin-top: 20px;
    cursor: pointer;
  }

  span {
    color: #6f6fff;
    font-weight: bold;
    margin: 10px 0;
  }

  .input__file{
    margin: 10px 0 10px 10px;
  }
}